<body>

<!-- Preloader -->
<div class="preloader-outer">
    <div class="preloader" aria-busy="true" aria-label="Loading, please wait." role="progressbar"></div>
</div>


<!-- Section Hero 4-3 -->
<section id="section-3-1" class="hero hero-bg-colored hero-bg-7 layout-4">
    <div class="container">

        <!-- call to action -->
        <div class="cta text-center relative z-1">
<img src="assets/images/askiitians-logo.png" class="header-logo" alt="logo-footer">
            <!-- text -->
            <h2 class="b20-1" data-sr-id="1" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s; ">Tag Line</h2>
            <p class="b20-2" data-sr-id="2" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; "><span class="strong"> "Those who fail to plan, are planning to fail"</span><br>-Benjamin Franklin</p>

            <!-- Email Section -->
            <div class="container container-700">

            <form id="mailchimp-single" method="post" action="http://themeforest.us12.list-manage.com/subscribe/post?u=fb2bdc0a1266cefb76bf70058&amp;id=3a5f127651">

                <div class="row"><!-- Row -->

                    <div class="col-md-9 col-sm-9 col-xs-8 pr-0"><!-- Email input -->
                        <div class="form-group mb-0">
                            <input type="email" class="form-control email" id="EMAIL" name="SubMail" placeholder="Email address">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-4 pl-0">
                        <button type="submit" name="submit" value="Submit" class="btn btn-default btn-lg yellow pull-left">Submit</button><!-- Send Button -->
                    </div>

                    <div class="sub-result"><p class="result"></p></div>

                </div><!-- Row end -->

            </form>

        </div>
        <!-- Email Section -->
        
            
        </div>

    </div>

    <!-- Phone Image -->
    <div class="text-center relative z-1 b20-4" data-sr-id="4" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.4s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.4s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.4s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.4s; ">
        <img src="assets/images/horizontal-phone.png" alt="phone" class="phone-img">
    </div>

    <!-- Overlay -->
    <div class="overlay-gradient"></div>

</section>
<!-- Section Hero 4-3 end -->


<!-- Section Feature -->
<section id="section-2-3" class="features-2">
    <div class="container">

        <!-- section header -->
        <div class="section-header text-center">
            <h2>Features</h2>
            <p>Everyone Works Hard for competetive exams. But to stand out, you have to study Smart. <br>With great tools at your disposal, you can take your prep to a new level!</p>
        </div>

        <div class="row">

            <!-- wrap -->
            <div class="features-2-wrap">

                <!-- features left -->
                <div class="col-md-4 col-sm-6 col-xs-12 features-left l40-1" data-sr-id="6" style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s; ">

                    <!-- item 1 -->
                    <div class="item clearfix">
                        <div class="feature-icon">
                            <!-- <span class="icon-layers icon"></span> -->
                            <span class="icon-laptop icon"></span>
                        </div>
                        <div class="text text-right">
                            <h3>Video Lectures by IITians</h3>
                            <p>Stand on the shoulders of giants. Watch 1000+ Video Lectures by IITians, including animations! </p>
                        </div>
                    </div>

                    <!-- item 2 -->
                    <div class="item clearfix">
                        <div class="feature-icon">
                            <!-- <span class="icon-expand icon"></span> -->
                            <span class="icon-heart icon"></span>
                        </div>
                        <div class="text text-right">
                            <h3>Study Kit</h3>
                            <p>Includes Study tips and guides for each chapter, prepared by experience from IITians</p>
                        </div>
                    </div>

                    <!-- item 3 -->
                    <div class="item clearfix">
                        <div class="feature-icon">
                            <!-- <span class="icon-laptop icon"></span> -->
                            <span class="icon-layers icon"></span>
                        </div>
                        <div class="text text-right">
                            <h3>Mock Tests and Previous Papers</h3>
                            <p>A large collection of Mock tests and Previous papers, so you can train hard for your exam!</p>
                        </div>
                    </div>

                </div>

                <!-- image center -->
                <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                    <img src="assets/images/phone-single.png" alt="features" class="b40-1" data-sr-id="4" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s; ">
                </div>

                <!-- features right -->
                <div class="col-md-4 col-sm-6 col-xs-12 features-right r40-1" data-sr-id="8" style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s; ">

                    <!-- item 1 -->
                    <div class="item clearfix">
                        <div class="feature-icon">
                            <!-- <span class="icon-heart icon"></span> -->

                            <span class="icon-documents icon"></span> 
                        </div>
                        <div class="text">
                            <h3>Test Generator</h3>
                            <p>Strike when the Iron is hot. Generate tests for the chapters you have prepared, and practice on.</p>
                        </div>
                    </div>

                    <!-- item 2 -->
                    <div class="item clearfix">
                        <div class="feature-icon">
                            <!-- <span class="icon-documents icon"></span> -->
                            <span class="icon-expand icon"></span>
                        </div>
                        <div class="text">
                            <h3>Take Control</h3>
                            <p>Practice Questions, Regular tests and comprehensive analysis to help you keep track</p>
                        </div>
                    </div>

                    <!-- item 3 -->
                    <div class="item clearfix">
                        <div class="feature-icon">
                            <span class="icon-chat icon"></span>
                        </div>
                        <div class="text">
                            <h3>Q&A</h3>
                            <p>Discuss questions and concepts with your peers, and clear your doubts by answers from experts</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
<!-- Section Feature end -->

<!-- Section video 1 -->
<section id="section-2-4" class="video-1">
    <div class="container text-center relative z-1">

        <!-- button -->
        <div class="button">
            <a href="https://vimeo.com/138540343" class="video-icon">
                <i class="fa fa-play hvr-push" aria-hidden="true"></i>
            </a>
        </div>
        <!-- text -->
        <h4>Watch the video</h4>
    </div>
    <!-- overlay -->
    <div class="overlay-colored"></div>
</section>
<!-- Section video 1 end -->

<!-- Section screenshots 2 -->
<section id="section-2-5" class="screenshots">
    <div class="container">

        <!-- section header -->
        <div class="section-header text-center">
            <h2>Sneak Peek</h2>
            <p>Have a look at what we have in store for you!</p>
        </div>

    </div>

    <!-- screenshots 2 wrap -->
    <div class="screenshots-02-wrap">
        <div class="item">
            <img src="assets/images/screens/1.jpg" alt="screenshot" />
        </div>
        <div class="item">
            <img src="assets/images/screens/2.jpg" alt="screenshot" />
        </div>
        <div class="item">
            <img src="assets/images/screens/4.jpg" alt="screenshot" />
        </div>
        <div class="item">
            <img src="assets/images/screens/5.jpg" alt="screenshot" />
        </div>
        <div class="item">
            <img src="assets/images/screens/8.jpg" alt="screenshot" />
        </div>
        <div class="item">
            <img src="assets/images/screens/11.jpg" alt="screenshot" />
        </div>
        <div class="item">
            <img src="assets/images/screens/1.jpg" alt="screenshot" />
        </div>
        <div class="item">
            <img src="assets/images/screens/2.jpg" alt="screenshot" />
        </div>
        <div class="item">
            <img src="assets/images/screens/4.jpg" alt="screenshot" />
        </div>
    </div>

</section>
<!-- Section screenshots 2 end -->

<footer id="footer-1" class="footer footer-dark">
    <div class="container">

        <!-- footer logo -->
        <img src="assets/images/askiitians-logo.png" class="footer-logo" alt="logo-footer">
    
        <!-- footer menu -->
        <ul class="footer-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <!-- copyright text -->
        <span class="copyright">© Copyright © 2006-2017 askIITians, All Rights Reserved.</span>

        <!-- social icons -->
        <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
        </ul>

    </div>
</footer>

<!-- SCRIPTS -->
<script type="text/javascript" src="assets/js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.single-page.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.ajaxchimp.js"></script>
<script type="text/javascript" src="assets/js/countdown.js"></script>
<script type="text/javascript" src="assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="assets/js/slick.min.js"></script>
<script type="text/javascript" src="assets/js/scrollreveal.min.js"></script>
<script type="text/javascript" src="assets/js/classie.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>

<!-- Style Changer -->
<script type="text/javascript" src="demo/style_switcher.js"></script>

</body>
</html>