<!-- 
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">

    </head>
    <body> -->
        
        <div class="container-fluid">
            <div class="row header_back">
                <div class="container bottom_mrg_remove">
                    <div class="row bottom_mrg_remove header_row">
                        <div class="col-sm-6 ">
                            <div class="info_box center-block">
                                <h1 class="name_box">Ask IITians</h1>
                                <p class="header_smal_txt">A great new free bootstrap theme to showcase your new application.</p>
                                <div class="btn_box clearfix">
                                    <div class="col-sm-6 btn_holder"><a href="#" class="option_btn"><img src="images/apple_btn.png" class="img-responsive" /></a></div>
                                    <div class="col-sm-6 btn_holder"><a href="#" class="option_btn"><img src="images/google_btn.png" class="img-responsive" /></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs">
                            <div class="info_box center-block">
                                <img src="images/hand_img.png" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="row feature_area">
                <div class="container ">
                    
                    <div class="row info_row">
                        <div class="col-sm-4 feature_wrp hidden-xs" id="feature_info02">
                            <h3>Great Feature</h3>
                            <p>
                                Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit. 
                                Mauris interdum velit vitae nulla molestie eu. 
                            </p>
                        </div>
                        
                        <div class="col-sm-4 iphone_outer">
                            <div class="iphone_box clearfix">
                                
                            	<div class="feature_tbl_wrp visible-xs">
                                    <div class="col-xs-12 text-right feature_btn_wrp">
                                        <button type="button" class="feature_btn" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla molestie eu.">
                                            <i class="fa fa-circle"></i>
                                        </button>
                                    </div>
                                    
                                    <div class="col-xs-12 text-left feature_btn_wrp">
                                        <button type="button" class="feature_btn" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla molestie eu.">
                                            <i class="fa fa-circle"></i>
                                        </button>
                                    </div>
                                    
                                    <div class="col-xs-12 text-right feature_btn_wrp">
                                        <button type="button" class="feature_btn" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla molestie eu.t">
                                            <i class="fa fa-circle"></i>
                                        </button>
                                    </div>
                                    
                                    <div class="col-xs-12 text-left feature_btn_wrp">
                                        <button type="button" class="feature_btn" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla molestie eu.">
                                            <i class="fa fa-circle"></i>
                                        </button>
                                    </div>
				
                                </div>
                                
                            	<div class="feature_tbl_wrp center-block hidden-xs">
                                    <div class="col-xs-12 text-right feature_btn_wrp">
                                        <button type="button" class="feature_btn" id="feature_btn01">
                                            <i class="fa fa-circle"></i>
                                        </button>
                                    </div>
                                    
                                    <div class="col-xs-12 text-left feature_btn_wrp">
                                        <button type="button" class="feature_btn" id="feature_btn02">
                                            <i class="fa fa-circle"></i>
                                        </button>
                                    </div>
                                    
                                    <div class="col-xs-12 text-right feature_btn_wrp">
                                        <button type="button" class="feature_btn" id="feature_btn03">
                                            <i class="fa fa-circle"></i>
                                        </button>
                                    </div>
                                    
                                    <div class="col-xs-12 text-left feature_btn_wrp">
                                        <button type="button" class="feature_btn" id="feature_btn04">
                                            <i class="fa fa-circle"></i>
                                        </button>
                                    </div>
				
                                </div>

                            </div>
                        </div>
                        
                        <div class="col-sm-4 feature_wrp hidden-xs" id="feature_info01">
                            <h3>Great Feature</h3>
                            <p>
                                Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit. 
                                Mauris interdum velit vitae nulla molestie eu. 
                            </p>
                        </div>
                    </div>
                    
                    <div class="row info_row">
                        <div class="col-sm-4 feature_wrp hidden-xs" id="feature_info04">
                            <h3>Another Great Feature</h3>
                            <p>
                                Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit. 
                                Mauris interdum velit vitae nulla molestie eu. 
                            </p>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4 feature_wrp hidden-xs" id="feature_info03">
                            <h3>Another Great Feature</h3>
                            <p>
                                Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit. 
                                Mauris interdum velit vitae nulla molestie eu. 
                            </p>
                        </div>
                    </div>
                    
                   
                    
                </div>
                
            </div>
        </div>
        
        <div class="container-fluid feature_area">
            <div class="row feature_area app_row">
                <div class="container ">
                     <div class="row  info_row">
                        <div class="col-sm-4 app_wrp feature_wrp text-center">
                            <h3>Get it for IOS</h3>
                            <p>
                                Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit. 
                                Mauris interdum velit vitae nulla molestie eu. 
                            </p>
                            <div class=" btn_box ">
                                <a href="#" class="option_btn"><img src="images/apple_btn.png" class="img-responsive center-block" /></a>                               
                            </div>
                        </div>
                        
                        <div class="col-sm-4"></div>
                        
                        <div class="col-sm-4 app_wrp feature_wrp text-center">
                            <h3>Get it for Android</h3>
                            <p>
                                Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit. 
                                Mauris interdum velit vitae nulla molestie eu. 
                            </p>
                            <div class=" btn_box ">
                                <a href="#" class="option_btn"><img src="images/google_btn.png" class="img-responsive center-block" /></a>                               
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="row testimonials_top_row">
                <div class="container ">
                    <div class="row ">
                        <p class="larg_txt comment">“Flow is an app that is extremely useful. I would reccomend it to anyone.”</p>
                        <p class="sm_txt name">Kyle Turner, Blogger</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container-fluid">
            <div class="row testimonials_row">
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img1.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“it's very fast, user friendly app. ”</p>
                        <p class="name">Kyle Turner, Blogger</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img2.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“Flow is an app that is extremely useful. I would reccomend it to anyone.”</p>
                        <p class="name">Jane, CEO</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img1.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“it's very fast, user friendly app. ”</p>
                        <p class="name">Kyle Turner, Blogger</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img2.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“Flow is an app that is extremely useful. I would reccomend it to anyone.”</p>
                        <p class="name">Jane, CEO</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img1.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“it's very fast, user friendly app. ”</p>
                        <p class="name">Kyle Turner, Blogger</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img2.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“Flow is an app that is extremely useful. I would reccomend it to anyone.”</p>
                        <p class="name">Jane, CEO</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img1.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“it's very fast, user friendly app. ”</p>
                        <p class="name">Kyle Turner, Blogger</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img2.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“Flow is an app that is extremely useful. I would reccomend it to anyone.”</p>
                        <p class="name">Jane, CEO</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img1.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“it's very fast, user friendly app. ”</p>
                        <p class="name">Kyle Turner, Blogger</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img2.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“Flow is an app that is extremely useful. I would reccomend it to anyone.”</p>
                        <p class="name">Jane, CEO</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img1.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“it's very fast, user friendly app. ”</p>
                        <p class="name">Kyle Turner, Blogger</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img2.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“Flow is an app that is extremely useful. I would reccomend it to anyone.”</p>
                        <p class="name">Jane, CEO</p>
                    </a>
                </div>
            </div>
            <div class="row testimonials_row">
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img2.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“it's very fast, user friendly app. ”</p>
                        <p class="name">Kyle Turner, Blogger</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img1.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“Flow is an app that is extremely useful. I would reccomend it to anyone.”</p>
                        <p class="name">Jane, CEO</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img2.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“it's very fast, user friendly app. ”</p>
                        <p class="name">Kyle Turner, Blogger</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img1.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“Flow is an app that is extremely useful. I would reccomend it to anyone.”</p>
                        <p class="name">Jane, CEO</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img2.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“it's very fast, user friendly app. ”</p>
                        <p class="name">Kyle Turner, Blogger</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img1.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“Flow is an app that is extremely useful. I would reccomend it to anyone.”</p>
                        <p class="name">Jane, CEO</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img2.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“it's very fast, user friendly app. ”</p>
                        <p class="name">Kyle Turner, Blogger</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img1.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“Flow is an app that is extremely useful. I would reccomend it to anyone.”</p>
                        <p class="name">Jane, CEO</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img2.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“it's very fast, user friendly app. ”</p>
                        <p class="name">Kyle Turner, Blogger</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img1.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“Flow is an app that is extremely useful. I would reccomend it to anyone.”</p>
                        <p class="name">Jane, CEO</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img2.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“it's very fast, user friendly app. ”</p>
                        <p class="name">Kyle Turner, Blogger</p>
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="tst_imglink">
                        <img src="images/flk_img1.jpg" class="img-responsive desaturate"/>
                        <p class="comment">“Flow is an app that is extremely useful. I would reccomend it to anyone.”</p>
                        <p class="name">Jane, CEO</p>
                    </a>
                </div>
            </div>
        </div>
        
        
        
        <div class="container-fluid">
            <div class="row row testimonials_bottom_row ">
                <div class="container ">
                    <div class="row ">
                        <p class="larg_txt">Say Hi & Get in Touch</p>
                        <p class="sm_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendiss</p>
                        
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                       <i class="fa fa-circle fa-stack-2x"></i>
                                       <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li> 
                            
                            <li>
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            
                            <li>
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>  
                            
                            <li>
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            
                            <li>
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            
                            <li>
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            
                        </ul>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="row footer_row">
                <div class="container ">
                    <div class="row ">
                        <ul>
                            <li><a href="#">Contact </a></li>
                            <li><a href="#">Download  </a></li>
                            <li><a href="#">Press </a></li>
                            <li><a href="#">Email </a></li>
                            <li><a href="#">Support </a></li>
                            <li><a href="#">PrivacyPolicy </a></li>
                        </ul> 
                    </div>
                </div>
                
            </div>
        </div>
        
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/script.js"></script>
        <script>
            
        </script>
<!--     </body>
</html>
 -->